@import url(./fonts.css);
@import url(./usual.css);

/* header */

.nav {
    background: #282828;
    display: flex;
    z-index: 100;
    padding: 6px 0;
}

.nav__logo {
    width: 100px;
    padding: 6px 15px
}

.nav__link {
    font-family: "Montserrat";
    font-size: 20px; 
    color: #fff;
    padding: 0 15px;
    font-weight: 700;
}

.nav__list {
    display: flex;
    padding: 0 30px;
    align-items: center;
    flex-wrap: wrap;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav__buttons-list {
    display: flex;
}

.nav__buttons-link {
    padding: 0 12.5px;
}

.official__title {
    font-family: "Prosto_One";
    font-size: 100px;
    /* line-height: 75%; */
    color: #fff;
    padding: 38px;
}

.official {
    background: url(../img/Header.png) no-repeat center center / cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.official__btn {
    padding: 14px 13px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 500;
    max-width: 200px;
    border: none;
    outline: none;
    cursor: pointer;
}

.texts {
    text-align: center;
}

/* header */

/* main */

.main {
    background: #151515;
}

.comfortable__container {
    display: flex;
    padding: 50px;
}

.text {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    width: 538px;
    padding: 0 15px;

}


.batery__container {
    display: flex;
    padding: 50px;
    align-items: center;
}

/* info */

.info__line {
    width: 61px;
    border-bottom: 1px solid #C4C4C4;
    margin: auto 13px;
}

.info__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info */

/* cards */

.cards {
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 6px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    gap: 20px;
    align-items: center;
}

.card-title {
    font-family: "Montserrat";
    /* font-weight: 700; */
    font-size: 20px;
    color: #000;
}

.card-price {
    /* font-weight: 400; */
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-family: "Montserrat";
    /* padding: 0 1px; */
    /* padding-bottom:20px ; */
}

.card-img {
    max-height: 200px;
}

.card-btn {
    max-width: 140px;
    width: 100%;
    color: #fff;
    background: #151515;
    padding: 7px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: "Montserrat";
}

/* cards */

/* main */

/* footer */

.footer {
    background: #282828;
    display: flex;
    padding-top:81px ;
    padding-bottom: 79px;
    justify-content: center;
}
.nav__logo {
    width: 100px;
    padding: 6px 15px
}

.nav__link {
    font-family: "Montserrat";
    font-size: 20px; 
    text-align: center;
    margin-left: 30px;
    color: #fff;
    font-weight: 700;
}

.nav__list {
    display: flex;
    padding: 0 30px;
    align-items: center;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__buttons-list {
    display: flex;
}

.nav__buttons-link {
    margin: 0 12.5px;
}